#
# MANIFEST.in
#
# Manifest template for creating the PyLudic source distribution.

include MANIFEST.in
include setup.py
include LICENSE
include README.md
include qdarkgraystyle/style.qss
include qdarkgraystyle/style.qrc
include qdarkgraystyle/rc/*.png



